html,body,figure,header,ul,li,img,p,h1,h2,h3,nav,div,a, section{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2D2D2D;
    font-size: 16px;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    
    /* box-model */
    box-sizing: border-box;
}